.contact {
  background: url(../images/dots.svg) fixed;

  h2,
  p {
    background: white;
    display: inline-block;
    padding: 5px 10px;
  }

  button {
    background: white;
    border: none;
    color: var(--grav-co-grp-b-neutral);
  }
}
