/* These are overrides for gravity that either need to be resolved properly in this project
   or raised as Github issues in Gravity */

   @function grav-font-size-varname-suffix($scale) {
    @if ($scale < $grav-scale-min) or ($scale > $grav-scale-max) {
      @error '#{$scale} is not a valid point on Gravity\'s typographic scale. Valuse must be in the range from #{$grav-scale-min} to #{$grav-scale-max}.';
    }
  
    @if $scale < 0 {
      @return 'minus-#{abs($scale)}';
    }
    @else if $scale > 0 {
      @return 'plus-#{$scale}';
    }
    @else {
      // No need to use the mixin, this will always be
      // 1rem
      // --grav-fs-base: 1rem;
      @return 'base';
    }
  }

/* Proper fix not yet in Gravity Next */
body > div:first-of-type,
main {
  margin-top: 0;
}

img {
  width: 100%;
}

/* removes teal border */
.grav-c-page-footer {
  border: none;
}


// utils
@media (max-width: grav-breakpoint(medium)) {
  .hide-sm {
    display: none;
  }
}

// So it works on mobile too
.grav-o-two-column--small {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
  padding-right: 0;
  padding-left: 0;

  > * {
    width: calc((100% - 4rem) / 2);
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

// .grav-u-pt-xxl {
//   padding-top: calc( 1rem + 0.5 * (100vw / 16 )) !important;
// }

// .grav-u-pb-xxl {
//   padding-bottom: calc( 1rem + 0.5 * (100vw / 16 )) !important;
// }


//padding-bottom: calc( 1rem + 0.5 * ( ( 100vw - 32rem) ) / 10) !important;