/* These are overrides for gravity that either need to be resolved properly in this project
   or raised as Github issues in Gravity */

/* Proper fix not yet in Gravity Next */
body > div:first-of-type,
main {
  margin-top: 0;
}

/* removes teal border */
.grav-c-page-footer {
  border: none;
}


// utils
@media (max-width: grav-breakpoint(medium)) {
  .hide-sm {
    display: none;
  }
}

// So it works on mobile too
.grav-o-two-column--small {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
  padding-right: 0;
  padding-left: 0;

  > * {
    width: calc((100% - 4rem) / 2);
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
