/* These are overrides for gravity that either need to be resolved properly in this project
   or raised as Github issues in Gravity */

/* Proper fix not yet in Gravity Next */
body > div:first-of-type,
main {
  margin-top: 0;
}

/* removes teal border */
.grav-c-page-footer {
  border: none;
}

// bootstrap overrides
.mt0 {
  margin-top: 0;
}

[class^="col"] {
  margin-top: 0;
}

// utils
@media (max-width: grav-breakpoint(medium)) {
  .hide-sm {
    display: none;
  }
}
