#hero-logo-lockup > svg {
  margin: 0 30px;
}

.hero-heading {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;

  + p {
    font-weight: bold;
  }
}

.grav-c-hero  {
  &__container {
    max-width: 40rem;
  }
  
  &--is-home {
    .hero-dots {
      height: 30vw;
    }
  }
}

.hero-dots {
  width: 100%;
  margin: 0 auto;
  max-height: 300px;
  background: url(../images/dots.svg) fixed;
}
