#hero-logo-lockup {
  max-width: 400px;
  fill: var(--grav-co-grp-b-neutral);
}

.hero-heading {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.hero-dots {
  width: 100%;
  height: 300px;
  background: url(../images/dots.svg);
}
