.phase {
  &-heading {
    background: url(../images/dots.svg) fixed;
    padding: 20px 0;

    .grav-o-two-column {
      > div {
        display: flex;
        align-items: flex-end;
        margin-top: 0;
      }
    } 

    @media (min-width: grav-breakpoint(medium)) {
      padding: 0;
      border-top: 40px solid white;
      box-shadow: 0px -40px 0px white inset;

      &-content {
        background: url(../images/bulb.svg) no-repeat 0 0;
        padding: 40px $grav-sp-s;
        position: relative;
        top: -40px;
        padding-left: 25%;

        &--test {
          background-image: url(../images/test.svg);
        }

        &--sign {
          background-image: url(../images/sign.svg);
        }
      }
    }
  }

  &-sub-heading {
    display: inline-block;
    
    > div {
      margin: 0;
    }

    span {
      display: inline-block;
      background: white;
      padding: 0 10px;
    }
  }
}
