.phase {
  &-heading {
    background: url(../images/dots.svg) fixed;
    padding: 20px 0;

    @media (min-width: grav-breakpoint(medium)) {
      padding: 0;
      border-top: 40px solid white;
      box-shadow: 0px -40px 0px white inset;

      &-content {
        background: url(../images/bulb.svg) no-repeat 100px 0;
        background-size: contain;
        padding: 40px 0;
        position: relative;
        top: -40px;

        &--test {
          background-image: url(../images/test.svg);
        }

        &--sign {
          background-image: url(../images/sign.svg);
        }
      }
    }
  }

  &-sub-heading {
    display: inline-block;

    .grav-u-font-size-minus-1 {
      font-family: Wipro Akkurat TT;
      font-weight: 300;
      font-style: normal;
    }

    span {
      display: inline-block;
      background: white;
      padding: 0 10px;
      margin-top: 0;
    }
  }
}
