.quote {
  text-align: center;
  color: #078d7c;
  font-style: italic;
  margin: 170px 0 100px;

  @media (max-width: grav-breakpoint(large)) {
    margin: 120px 0 70px;
  }

  @media (max-width: grav-breakpoint(medium)) {
    margin: 70px 0 50px;
  }
}
