.team-makeup {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: grav-breakpoint(medium)) {
  .team-makeup {
    &:before {
      content: "";
      position: absolute;
      height: 18em;
      width: 18em;
      top: 0;
      left: 50%;
      margin-left: -9em;
      border: 15px solid #008d7c;
      border-radius: 50%;
      opacity: 0.15;
    }

    li:nth-child(odd) {
      text-align: right;
    }

    li {
      background: white;
    }
  }
}
