/* These are overrides for gravity that either need to be resolved properly in this project
   or raised as Github issues in Gravity */

/* Proper fix not yet in Gravity Next */
body > div:first-of-type,
main {
  margin-top: 0;
}

/* Temp hero overrides */
.grav-c-hero {
  .grav-c-hero__banner {
    display: block;
    margin: 0 auto -111px;
    padding-top: 100px;
    width: 220px;
    height: auto;
    position: relative;
    z-index: 10;

    @media (min-width: 44rem) {
      width: 320px;
      max-width: none;
      position: relative;
      z-index: 10;
    }
  }
}

.grav-c-hero {
  background-image: linear-gradient(0deg, rgb(52, 83, 95) 9%, rgb(2, 162, 223) 45%, rgb(162, 253, 255) 100%);
}

.grav-c-hero .grav-c-hero__container {
  margin-top: 0;
  padding-top: 160px;

  h1 {
    margin: 0.45em auto 0.15em;

    +  p {
      margin-top: 0;
    }
  }
}

/* Temp inline list overrides */
.grav-c-list-inline-row {
  flex-wrap: nowrap;
  margin-left: 0;
  margin-bottom: 6rem;

  > li {
   display: flex;
   flex-direction: column;

    & + li {
      padding-left: 1rem;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }

    span {
      margin-top: auto;
      font-weight: bold;
    }
  }
}

/* removes teal border */
.grav-c-page-footer {
  border-bottom: none;
}