/**
  Import all SASS partials that make up Gravity's UI library
  Partials are organised as per Harry Roberts' ITCSS architecture.
  See: https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/
*/

// === Settings layer ===
@import "gravity-ui-web/00-settings/settings.all";

// === Tools layer ===
@import "gravity-ui-web/01-tools/tools.all";

// === Generic layer ===
@import "gravity-ui-web/02-generic/generic.all";

// === Elements layer ===
@import "gravity-ui-web/03-elements/elements.all";

// === Objects layer ===
@import "gravity-ui-web/04-objects/objects.all";
@import "layouts.scss";
@import "media.scss";

// === Components layer ===
@import "gravity-ui-web/05-components/components.all";

// === Utilities layer ===
@import "gravity-ui-web/06-utilities/utilities.all";

// === Cycle7 styles ===
@import "cycle7-theme.scss";
@import "gravity-overrides.scss";

// === Components ===
@import "conditions.scss";
@import "hero.scss";
@import "outcomes.scss";
@import "strategy.scss";
@import "contact.scss";
// @import "phases.scss";

.mt0 {
  margin-top: 0;
}

.phase {
  &-heading {
    background: url(../images/dots.svg);
    padding: 10px 0 20px;
  }
  &-sub-heading {
    display: inline-block;

    .grav-u-font-size-minus-1 {
      font-family: Wipro Akkurat TT;
      font-weight: 300;
      font-style: normal;
    }

    span {
      display: inline-block;
      background: white;
      padding: 0 10px;
      margin-top: 0;
    }
  }

  &-icon {
    max-width: 120px;
    transform: scale(1.2) rotate(15deg);
    margin-top: 20px;
    fill: red;

    &-experiment {
      transform: scale(1.8) rotate(-15deg);
      margin-top: 70px;
    }

    &-wrap {
      // height: 175px;
      // border: 1px solid red;
      overflow: hidden;
      text-align: center;
      // padding-right: 10px;
      margin: -40px 0 -20px;
    }
  }
}

[class^="col"] {
  margin-top: 0;
}
